<div class="modal">
	<div class="bar bar-header bar-calm">
        <button class="button" ng-click="closeModal()">back</button>
        <h1 class="title">Test modal</h1>
    </div>
    <div class="list" id="weekDays" style="margin-top:50px;">
    	<label class="item item-radio" ng-repeat="item in testItems"
    	ng-click="">
    	<input type="checkbox" id="{{item.id}}">
        <div class="item-content">
          {{item.name}}
        </div>
        <i class="radio-icon ion-checkmark"></i>
    </label>
    </div>
    

</div>